<%-include("header")-%>
  <h2>This is all about Me</h2>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae eius ipsa illo, itaque quidem at consequatur vitae
    eligendi cum? Eligendi quam eum reprehenderit nostrum eaque veritatis obcaecati illum in doloremque!</p>
  <%-include("footer")-%>